[submodule "code/cpp/aes/external/spdlog"]
	path = code/cpp/aes/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "code/cpp/aes/external/imgui"]
	path = code/cpp/aes/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "code/cpp/aes/external/glfw"]
	path = code/cpp/aes/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "code/cpp/aes/external/docopt"]
	path = code/cpp/aes/external/docopt
	url = https://github.com/docopt/docopt.cpp.git
[submodule "code/cpp/aes/external/imgui-filebrowser"]
	path = code/cpp/aes/external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "code/cpp/aes/external/googletest"]
	path = code/cpp/aes/external/googletest
	url = https://github.com/google/googletest.git
